@import "tailwindcss";

* {

    font-family: "Poppins", sans-serif;
}


@layer base {
  body {
    @apply bg-black text-white antialiased;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0px 1000px #0d0d0d inset !important;
    -webkit-text-fill-color: white !important;
    transition: background-color 5000s ease-in-out 0s;
  }
}

/* Custom Video Controls Styling */
video {
  accent-color: white;
}

video::-webkit-media-controls-panel {
  background-image: linear-gradient(transparent, rgba(0,0,0,0.5)) !important;
}

video::-webkit-media-controls-timeline {
  background-color: rgba(255, 255, 255, 0.2) !important;
  height: 4px !important;
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 10px;
  accent-color: white !important;
}

/* This targets the actual progress indicator in some browsers */
video::-webkit-media-controls-timeline-container {
  background-color: white !important;
}

video::-internal-media-controls-timeline-progress {
  background-color: white !important;
}

video::-webkit-media-controls-current-time-display,
video::-webkit-media-controls-time-remaining-display {
  color: white !important;
}

/* Remove increment/decrement arrows from number inputs globally */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] {
  -moz-appearance: textfield;
}
